# created by virtualenv automatically


/project/desktop.ini
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sshConfigs.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/Blankpage_Webtoon.iml
/.idea/BlendCharmSettings.xml
